parameters:
    robots: 'noindex, nofollow'

application:
	errorPresenter:
		4xx: Error:Error4xx
		5xx: Error:Error5xx
	mapping: App\UI\*\**Presenter


database:
    dsn: 'mysql:host=127.0.0.1;dbname=crowdnavigator_70'
    user: 'crowdnavigator.70'
    password: '1,MMcFtX3wU9jYIK-'


latte:
	strictTypes: yes
	strictParsing: yes
	extensions:
		- App\UI\Accessory\LatteExtension


di:
	export:
		parameters: no
		tags: no
