<li class="nav-item">
    <a class="nav-link" href="{link 'Home:default'}" >Domů</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{link 'Campaigns:default'}">Kampaně</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{link 'Blog:default'}">Blog</a>
</li>